# Dynamic Programming
## 0/1 Knapsack

0/1 Knapsack is a problem where given a list of items with their assocaited weight and values and a weight limit, which items do you take to not go over the weight limit while maximizing the value you can get. Another key component is that items can not be broken up i.e. you must include the whole item not a porition of an item.

The 0/1 knapsack problem makes a object by weight limit matrix and returns an maxmium value and can also be made to return an array of 1's and 0's that corresponds to the objects being taken.

To accomplish this we define a measure T[i,j]. Which is the maximum value we can obtain at a weight j considering up to i items.

Given a list of objects O with weight,value and weight limit w use this method:

1. Create a O + 1 x w + 1 matrix that has items as rows and integer weight to weight limit as columns with a column of padding on the far left and at the top represent 0 weight and no items. 
    Assuming indexed by 1, row 2 would be the first item, row 3 would be considering the first 2 items etc.
2. Initialize padding columns to 0.
3. Starting at (2, 2) we compare 2 cases.
    Case I: We include the ith object in our solution 
        if the weight of the ith object < column j then value of T[i,j] would be value of object i + T[i-1,j-weight of object i]
    Case II: We are not including the ith object in our solution
        then value of T[i,j] would be T[i-1,j]

    We take the max of these 2 cases to be the value of T[i,j] our final solution will be at the last cell of this matrix

The tables below demonstrate the progress of the algorithm with 3 columns added on the left side to show you the weight and value of each item.

In [92]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

def style_specific_cell(df, row, col, c):
    df_styler = pd.DataFrame('', index = df.index, columns = df.columns)
    df_styler.iloc[row, col] = 'color: black;background-color: ' + c
    return df_styler

def style_case1_fails(df, row, col):
    df_styler = pd.DataFrame('', index = df.index, columns = df.columns)
    #current
    df_styler.iloc[row, col] = 'color: black; background-color: gold'
    #one above
    df_styler.iloc[row-1, col] = 'color: black; background-color: lightgreen'
    #weight
    df_styler.iloc[row, 0] = 'color: black; background-color: firebrick; font-weight:bold'
    #value
    df_styler.iloc[row, 1] = 'color: black; background-color: firebrick; font-weight:bold'
    #column
    df_styler.iloc[0, col] = 'color: black; background-color: firebrick; font-weight:bold'
    return df_styler

def style_case1(df, row, col):
    df_styler = pd.DataFrame('', index = df.index, columns = df.columns)
    #current
    df_styler.iloc[row, col] = 'color: black; background-color: gold'
    # one above
    df_styler.iloc[row-1, col] = 'color: black; background-color: firebrick'
    #weight 
    df_styler.iloc[row, 0] = 'color: black; background-color: lightgreen; font-weight:bold'
    #value 
    df_styler.iloc[row, 1] = 'color: black; background-color: lightgreen; font-weight:bold'
    #column value
    df_styler.iloc[0, col] = 'color: black; background-color: lightgreen; font-weight:bold'
    #case 1 added value
    df_styler.iloc[row-1,col-df.iloc[row, 0]] = 'color: black; background-color: lightgreen; font-weight:bold' 
    #column
    df_styler.iloc[0, col] = 'color: black; background-color: lightgreen; font-weight:bold'

    return df_styler

def style_case2(df, row, col):
    df_styler = pd.DataFrame('', index = df.index, columns = df.columns)
    #current
    df_styler.iloc[row, col] = 'color: black; background-color: gold'
    # one above
    df_styler.iloc[row-1, col] = 'color: black; background-color: lightgreen'
    #weight 
    df_styler.iloc[row, 0] = 'color: black; background-color: darkorange; font-weight:bold'
    #value 
    df_styler.iloc[row, 1] = 'color: black; background-color: darkorange; font-weight:bold'
    #column val
    df_styler.iloc[0, col] = 'color: black; background-color: darkorange; font-weight:bold'
    #case 1 added value
    df_styler.iloc[row-1,col-df.iloc[row, 0]] = 'color: black; background-color: darkorange; font-weight:bold'
    #column
    df_styler.iloc[0, col] = 'color: black; background-color: darkorange; font-weight:bold'

    return df_styler

def style_traceback(df, row, col):
    df_styler = pd.DataFrame('', index = df.index, columns = df.columns)
    df_styler.iloc[row, col] = 'color: black; background-color: gold'
    x = row
    y = col
    while df.iloc[x, y] != 0:
        if df.iloc[x-1, y] == df.iloc[x,y]:
            df_styler.iloc[x-1, y] = 'color: black; background-color: gold'
            x -= 1
        else:
            df_styler.iloc[x-1, y-df.iloc[x,0]] = 'color: black; background-color: gold'
            df_styler.iloc[x,3] = 'color: black; background-color: yellowgreen'
            y -= df.iloc[x,0]
            x -= 1
    return df_styler

objects = [['W','V'],['-','-'], [2,7], [5,14], [1,8], [6,16], [7,2]]
rowName = "#012345"
weight = 11
offset = 5
# rows = 1 + objects+1 columns = weight+1 + 4
df = pd.DataFrame(np.zeros((len(rowName), weight+offset))).astype(int)
df.iloc[0] = [x for x in range(-(offset-1),weight+1)]
df.iloc[:,0] = [x[0] for x in objects]
df.iloc[:,1] = [x[1] for x in objects]
df.iloc[:,2] = ['' for x in rowName]
df.iloc[:,3] = [x for x in rowName]

df.style.hide(axis=1).hide(axis=0)

In [93]:

for i in range(2,df.shape[0]):
    for j in range(5,df.shape[1]):
        case1 = 0
        case2 = df.iloc[i-1,j]
        #check if object weight is less than column
        if df.iloc[i,0] <= df.iloc[0,j]:
            case1 = df.iloc[i,1] + df.iloc[i-1,j-df.iloc[i,0]]
        
        if df.iloc[i,0] > df.iloc[0,j]:
            df.iloc[i,j] = case2
            temp = df.style.apply(style_case1_fails, row = i, col = j, axis = None).hide(axis=1).hide(axis=0)
        elif case1 > case2:
            df.iloc[i,j] = case1
            temp = df.style.apply(style_case1, row = i, col = j, axis = None).hide(axis=1).hide(axis=0)
        else:
            df.iloc[i,j] = case2
            temp = df.style.apply(style_case2, row = i, col = j, axis = None).hide(axis=1).hide(axis=0)


        display(temp)
temp = df.style.apply(style_traceback, row = (df.shape[0]-1), col = (df.shape[1]-1), axis = None).hide(axis=1).hide(axis=0)
display(temp)

The final table above shows the method of obtaining the final answer:
1. Go to the last cell of the matrix
2. If the cell above equals your current cell go up 1 row. If it doesn't this means you are taking the current item in your row jumping to the cell 1 row up and column of your former column minus the weight of the object you are taking

The final solution for this problem is: 31
Corresponding to object 1,3,4 which is represented as [1,0,1,1,0]