# Dynamic Programming
## Maximum Subarray Sum

MSS works by calculating the MSS of the subarray that ends at index i (the current index). This subarray is then used to calculate the MSS of the next index i+1. At each iteration, MSS[i] = max(original_array[i], original_array[i] + MSS[i-1]). The final answer is the max value of MSS at any index. Below you can see the progress of MSS through an array and the final selection.

In [3]:
import numpy as np
import pandas as pd

def style_specific_cell(df, row, col, c):
    df_styler = pd.DataFrame('', index = df.index, columns = df.columns)
    df_styler.iloc[row, col] = 'color: black;background-color: ' + c
    return df_styler

def style_specific_col(df, col, c):
    df_styler = pd.DataFrame('', index = df.index, columns = df.columns)
    df_styler.iloc[:,col] = 'background-color: ' + c
    return df_styler

def style_mss(df, row, col):
    df_styler = pd.DataFrame('', index = df.index, columns = df.columns)
    df_styler.iloc[row, col] = 'color: black; background-color: turquoise'
    df_styler.iloc[row-1, col] = 'color: black; background-color: paleturquoise'
    df_styler.iloc[row, col-1] = 'color: black; background-color: paleturquoise'
    return df_styler

In [4]:
#nice way of doing MSS. isn't used for displaying
def MSS(df):
    mss = [df.iloc[0, 0]] + [0]*df.size
    mss = [max(df.iloc[0, i], df.iloc[0, i] + mss[i-1]) for i in range(1, df.size)]
    mss.insert(0, df.iloc[0, 0])
    return mss

#mss = MSS(df)
#print(mss)

In [5]:
##### ARRAY TO BE CALCULATED IS HERE #####
# currently, just randomly generating numbers
df = pd.DataFrame(np.random.randint(-10, 10, size=(1, 5)))
##########################################

mss2 = pd.concat([df, df * 0], ignore_index = True)
mss2.iloc[1, 0] = mss2.iloc[0, 0]
mss2[''] = ['original array', 'mss progress']

rowid = 1
maxindex = [0, 0]
for i in range(1, mss2.shape[1]-1):
    mss2.iloc[1, i] = max(mss2.iloc[0, i], mss2.iloc[0, i] + mss2.iloc[1, i-1])
    
    if(maxindex[1] < mss2.iloc[1, i]):
        maxindex[0], maxindex[1] = i, mss2.iloc[1, i]
        
    colid = i
    temp = mss2.style.apply(style_mss, row = rowid, col = colid, axis = None).hide(axis='index')
    display(temp)


colid = maxindex[0]
rowid = 1
color = 'gold'

#rowid, colid = mss2.stack().index[np.max(df.values)]
temp = mss2.style.apply(style_specific_cell, row = rowid, col = colid, axis = None, c = color).hide(axis='index')
display(temp)